<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<p th:text="'Привет и добро пожаловать в новую практическую ' + ${name}" />
<div th:insert="Fragments/Header :: defaultHeader"> </div>
<form action="/Igryshki/Search">
    <input type="text" name="title">
    <input type="submit" value="Найти игрушку по точному названию">
</form>
<form action="/Igryshki/Searchs">
    <input type="text" name="title ">
    <input type="submit" value="Найти игрушку ">
</form>
<div th:each="el : ${igryshki}">
    <h2 th:text="${el.title}"> </h2>
    <h2 th:text="${el.author}"> </h2>
    <h2 th:text="${el.material}"> </h2>
    <p th:text="${el.size}"> </p>
    <p th:text="${el.price}"> </p>
    <a th:href="'/Igryshki/del/' + ${el.id}" class="btn btn-primary">Удалить</a> <br>
    <a th:href="'/Igryshki/edit/' + ${el.id}" class="btn btn-primary">Изменить</a> <br>
    <a href="/Igryshki/" class="btn btn-primary">Назад к новостям</a>
</div>
</body>
</html>